@media screen and (min-width:320px){
  .Areas {
    padding: 10px;
    max-width: 318px;
    width: 50%;
    font-size: 0.3rem;
  }
}

@media screen and (min-width:480px){
  .Areas {
    padding: 1em;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width:768px){
  .Areas {
    padding: 2em;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width:1024px){
  .Areas {
    padding: 2em;
    height: 100%;
    width: 100%;
  }
}


.Areas {
  /*width: 100%;*/
  max-width: 100%;
  padding: 20px;
  margin: auto;
 /* height: 150%;*/
  text-align: center;
}

.Areas_hero{
  width: 100%;
  padding: 2rem 0;
  background-repeat: repeat;
  margin-bottom: 1rem;
}

.Areas_Dropdown{
  padding: 35px;
  margin: auto;
  max-width: 500px;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 22px;
}