@media screen and (min-width:320px){
  .Buttons_Areas {
    padding: 2em 1em;
    /*height: 100%;
    width: 100%;*/
  }
    .btn {
      font-size: 14px;
    }
}
@media screen and (min-width:480px){
  .Buttons_Areas {
    padding: 1em;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width:768px){
  .Buttons_Areas {
    padding: 2em;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width:1024px){
  .Buttons_Areas {
    padding: 2em;
    height: 100%;
    width: 100%;
  }
}

.Buttons_Areas{
  width: 100%;
  max-width: 500px;
  padding: 35px;
  margin: auto;
  height: 100%;
  justify-content: center;
}

.btn {
  background-color: #45d431;
  -webkit-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
  -moz-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
  box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
  color:white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5pt;
  text-align: center;
  justify-content: center;
}

