.conteiner{
    display: block;
    justify-content: flex-end;
    padding: 20px;
    margin: auto;
    vertical-align: middle;
    margin: 0 10px;
    
    
}
.ingredientes{
    width: 80%;
    height: 30%;
    /* justify-content: space-around; */
    display: flex;
    /* align-items: flex-end; */
     
    justify-content:flex-start;  
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    height: 150%;
    justify-content: space-between;
    border-bottom: 3px solid #848280;
    
}
.tabla{
    width: 60%;
    height: 30%;

    /* width: 150%;
    max-width: 500px;
    padding: 10px; */
    margin: auto;
    height: 150%;
    /* text-align: left; */
    display: inline-block;
    justify-content: space-between;
    /* border-bottom: 3px solid #848280; */
    flex-direction:row;
    align-items: center;
    border: 3px solid #848280;
    border-radius: 10px;

}

.comensal{
    text-align: center;
    display: inline-block;
}

.orden{
    display: flex;
    justify-content: space-around;
}
.tiempo{
    width: 12%;
    height: 30%;
    border:3px solid #848280;
    border-radius: 10px;
}