.App {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: inline;
  justify-content: center;
    
}
/* #tick_container {
  display: inline;
  margin-top: 3rem;
  background-color: blue; 
}

#tick_img {
  display: flex;
  width: 50%;
  height: 35%;
  margin: 0 auto;
  margin-top: 3rem; 
  
} */

.Envio_header {
    margin: 0 auto;
    right: 20vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    width: 50vw;
    height: 50vh;
    background-color: #B3F05B;
}
    
    .text-center {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10%;
  }

  .form {
    padding: 10px;
    font-size: 1.2rem;
    justify-content: center; 
  }