.Registro_header {
    margin: auto;
    padding: 50px;
    bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .Footer {
    /*width: 150%;*/
    max-width: 100%;
    padding: 20px;
    margin: auto;
    height: 150%;
    text-align: center;
  }

  .InputGroup {
    -webkit-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
    -moz-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
    box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
  } 

  .text-center {
    padding: 20px;
    bottom: 20px;
    justify-content: center;
  }

