 .Home {
   
 }
 
 
 .Home_header {
    margin: auto;
    padding: 50px;
    bottom: 60px;
    display: flex;
    justify-content: center; 
    text-align: center;
  }
  .Home_col1,
  .Home_col{
    text-align: center;
  }
  .Home__col {
    width: 70%;
    display: flex;
    margin: auto;
    padding: 40px;
    bottom: 40px;
    border-top-width: 2rem;
    justify-content: center;
    align-items: center;

}

  .Home_logo {
    height: 75%;  
    margin: auto;
    /*background:#2bf693;*/
    background: rgb(233,241,232);
background: radial-gradient(circle, rgba(233,241,232,1) 5%, rgba(43,246,147,1) 81%);
    display: inline-block;
      border-width: 100%;
      border-radius: 6px;
      -webkit-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
      -moz-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
      box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
  }
  

.text-center {
 padding: 20px;
 justify-content: center;

}
@media screen and (min-width: 312px) {
 .Home__col {
   align-items: flex-start;
 }
 .Container h3 {
  font-size: 1.5rem;
}
}

  