@media screen and (min-width:320px){
    .login-form {
      padding: 10px;
      max-width: 318px;
      width: 50%;
    }
  }
  
  @media screen and (min-width:480px){
    .login-form {
      padding: 1em;
      height: 100%;
      width: 100%;
    }
  }
  
  @media screen and (min-width:768px){
    .login-form {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
  }
  
  @media screen and (min-width:1024px){
    .login-form {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
  }
.Lista_cocina{
        width: 150%;
        max-width: 500px;
        padding: 45px;
        margin: auto;
        margin-top: 4%;
        height: 150%;
        text-align: center;
        background: #ffffff;
        -webkit-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
       box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
        border-radius: 8px 8px 8px 8px;
        overflow: hidden;
        justify-content: center;
}

.conteinerOrden{
    margin: auto;
    padding: 10px;
    /* border:3px solid #848280; */
    border-radius: 10px;
    width: 300px;
    flex-direction: row-reverse;
    /* background-color: rgb(0,0,0,0.3);  */
    /* justify-content: space-around; */
    /* display: inline-block; */
    /* -webkit-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
     border-radius: 8px 8px 8px 8px; */
}

.ingredientes{
    width: 80%;
    height: 30%;
    /* display: flex;
    justify-content:flex-start;   */
    text-align: center;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    height: 150%;
    justify-content: space-between;
    border-bottom: 3px solid #848280;  
}
.tabla{
    width: 100%;
    height: 30%;
    margin: 10px;
    height: 150%;
    display: inline-block;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    border: 3px solid #848280;
    border-radius: 10px;
}
.comensal{
    text-align: center;
    /* display: inline-block; */
    
}
.orden{
    display: flex;
    justify-content: space-around;
}
.tiempo{
    width: 25%;
    height: 25%;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px;
    border:2px solid #848280;
    border-radius: 10px;

}
.next{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: auto;
    display:flex;
   margin-top: 80px;
}
