.Registro_header {
    margin: auto;
    padding: 50px;
    bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .Container {
    width: 150%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    height: 150%;
    text-align: center;
  }