.Registro_header {
    margin: auto;
    padding: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    flex-wrap:wrap;
  }

  .Container {
    width: 150%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    height: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }