
.Sidebar_img {
    width: 2rem;
    height: 2rem;
}

#promo_tab, #vertical-tab-promo {
    display: flex;
    background-color: #8EC4F6;
    text-align: center;
}
#vertical-tab-promo h1 { 
    font-size: 1.2rem;
}
#promo_img {
    display: flex;
    width: 30%;
    height: 25v%;
    margin: 0 auto;
    margin-top: 3rem;
}
#burger_tab, #vertical-tab-one {
    background-color: #E8EC42;
    }
    
    #pizza_tab, #vertical-tab-two {
        background-color: #F4C240;
    }
    
    #salad_tab, #vertical-tab-three {
        background-color: #53BE78;

    }
    
    #Hot-dogs_tab, #vertical-tab-four {
        background-color: #9BB7A6
    }
    
    #drinks_tab, #vertical-tab-five {
        background-color: #7B79D9;

     }

     .desktop_tabs {
        display: none;

    }

@media only screen and (min-width:768px) {
    #promo_tab, #vertical-tab-promo {
        display: flex;
        background-color: #8EC4F6;
        text-align: center;
    }
    #vertical-tab-promo { 
        font-size: 1.5rem;
    }
    #promo_img {
    display: flex;
    width: 30%;
    height: 25v%;
    margin: 0 auto;
    margin-top: 3rem;
    }
#burger_tab-desktop, #vertical-tab-one-desktop {
background-color: #E8EC42;
}

#pizza_tab-desktop, #vertical-tab-two-desktop {
    background-color: #F4C240;
}

#salad_tab-desktop, #vertical-tab-three-desktop {
    background-color: #53BE78;
}

#Hot-dogs_tab-desktop, #vertical-tab-four-desktop {
    background-color: #9BB7A6
}

#drinks_tab-desktop, #vertical-tab-five-desktop {
    background-color: #7B79D9;

 }

.mobile_tabs {
    display: none;
 }

.desktop_tabs {
    display: inline-flex;
}
.hamburguesas,
.pizza,
.ensalada,
.jochos,
.bebidas
 {
    width: 100%;
}
}



