@media screen and (min-width:320px){
    .Sidebar {
        padding: 2em 1em;
        width: 50%;
        font-size: 10px;
    }
    .footer {
        padding: 2em 1em;
    }
    .sidebar-labels {
        font-size: 14pt;
    }
    .tab-btns {
        height: 4rem;
    }
    .btns-bar {
        width: 30%;
    }
    .menu-content{
        width: 100%
    }

  }

  @media screen and (min-width:480px){
    .Sidebar {
      padding: 1em;
      height: 90%;
      width: 90%;
    }
    .footer {
        padding: 1em;
    }
  }
  
  @media screen and (min-width:768px){
    .Sidebar{
      padding: 2em;
      height: 90%;
      width: 90%;
    }
    .footer {
        padding: 2em;
    }
    .menu-content{
        width: 100%
    }
  }
  
  @media screen and (min-width:1024px){
    .Sidebar {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
    .footer {
        padding: 2em;
    }
  }

.Sidebar {
    width: 100%;
    height: 100%;
    
    padding: 2rem 0;
    background-repeat: repeat;
    margin-bottom: 1rem;
    color:black;
    font-size: 18px;
   font-weight: bold;
   letter-spacing: 1.5pt;
   text-align: center;
   justify-content: center;
}

.footer {
    width: 100%;
    max-width: 500px;
    padding: 0px;
    margin: auto;
    /*height: 100%;*/
    justify-content: center;
}

.mobile_tabs{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1pt;
    text-align: center;

}
.Sidebar_img {
    width: 3rem;
    height: 3rem;
}

#promo_tab, #vertical-tab-promo {
    display: flex;
    background-color: #8EC4F6;
    text-align: center;
}
#vertical-tab-promo h1 { 
    font-size: 1.2rem;
}
#promo_img {
    display: flex;
    width: 30%;
    height: 25%;
    margin: 0 auto;
    margin-top: 3rem;
}
#burger_tab, #vertical-tab-one {
    background-color: #E8EC42;
    }
#pizza_tab, #vertical-tab-two {
    background-color: #F4C240;
}

#salad_tab, #vertical-tab-three {
    background-color: #53BE78;
}

#Hot-dogs_tab, #vertical-tab-four {
    background-color: #9BB7A6
}

#drinks_tab, #vertical-tab-five {
    background-color: #7B79D9;
 }
 .desktop_tabs {
    display: none;
}

@media only screen and (min-width:768px) {
    button {
        width: 100%
    }
    #promo_tab, #vertical-tab-promo {
        display: flex;
        background-color: #8EC4F6;
        text-align: center;
    }
    #vertical-tab-promo { 
        font-size: 1.5rem;
    }
    #promo_img {
    display: flex;
    width: 30%;
    height: 25%;
    margin: 0 auto;
    margin-top: 3rem;
    }
#burger_tab-desktop, #vertical-tab-one-desktop {
background-color: #E8EC42;
}

#pizza_tab-desktop, #vertical-tab-two-desktop {
    background-color: #F4C240;
}

#salad_tab-desktop, #vertical-tab-three-desktop {
    background-color: #53BE78;
}

#Hot-dogs_tab-desktop, #vertical-tab-four-desktop {
    background-color: #9BB7A6
}

#drinks_tab-desktop, #vertical-tab-five-desktop {
    background-color: #7B79D9;

 }

.mobile_tabs {
    display: none;
 }

.desktop_tabs {
    display: inline-flex;
}
.hamburguesas,
.pizza,
.ensalada,
.jochos,
.bebidas
 {
    width: 100%;
}
}



