/* .conteiner{
    margin: 0%;
    padding: 10px;
    width: auto;
    height: auto;
}

#text{
    width: auto;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    height: 150%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #848280;
}

#titulo{
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;

}

.checkbox{
width: 30px;
height: 30px;
display: flex;
justify-content: space-between;
}

.next{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: auto;
    display:flex;
   margin-top: 80px;

}

.btn{
    background-color: #45d431;
         -webkit-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
         -moz-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
         box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
       
} */
