.conteiner{
    margin: 0%;
    padding: 10px;
    width: auto;
    height: auto;
}
.TipsCocina{
    padding: 20px;
    margin: auto;
    height: auto;
}
#text{
    width: auto;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    height: 150%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #848280;
}

#titulo{
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;

}

.checkbox{
width: 30px;
height: 30px;
display: flex;
justify-content: space-between;
}

.tabla{


    /* display: block; 
    justify-content: space-between; 
    margin: 0;
    padding: 10px; 
    border: solid; 
    background-color: pink; 
    width: 50%;
    height: 30%;
    vertical-align: middle;  */
    
}
.requisiciones{
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    /* justify-content: flex-start; */
    
}
.next{
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: auto;
    display:flex;
   margin-top: 80px;

}
.textoCocina{
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    height: 150%;
    justify-content: flex-start;
}
.btn{
    background-color: #45d431;
         -webkit-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
         -moz-box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
         box-shadow: 6px 6px 9px 1px rgba(207, 199, 207, 1);
       
}
