@media screen and (min-width:320px){
    .login-form {
      padding: 10px;
      max-width: 318px;
      width: 50%;
    }
  }
  
  @media screen and (min-width:480px){
    .login-form {
      padding: 1em;
      height: 100%;
      width: 100%;
    }
  }
  
  @media screen and (min-width:768px){
    .login-form {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
  }
  
  @media screen and (min-width:1024px){
    .login-form {
      padding: 2em;
      height: 100%;
      width: 100%;
    }
  }


.Tips_Cocina{
    width: 150%;
    max-width: 500px;
    padding: 45px;
    margin: auto;
    margin-top: 4%;
    height: 150%;
    text-align: center;
    background: #ffffff;
    -webkit-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
   box-shadow: 0px 6px 79px 7px rgba(0,0,0,0.75);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    justify-content: center;
}