.App {
  width: 150%;
  max-width: 500px;
  padding: 10px;
  margin: auto;
  height: 150%;
  text-align: center;
}

.login_header {
  margin: auto;

}

.text-center {
  padding: 20px;
  bottom: 20px;
}

.form {
  padding: 10px;
  font-size: 20px;
  
}

