.App {
  width: 150%;
  max-width: 500px;
  padding: 10px;
  margin: auto;
  height: 150%;
  text-align: center;
}

.login_header {
  margin: auto;
}

.text-center {
  padding: 20px;
  bottom: 20px;
}

.form {
  padding: 10px;
  font-size: 20px;
  
}

.btn-lg {
  border: 1px shadow grey;
  -webkit-box-shadow: 6px 6px 9px 1px rgb(185, 178, 185);
  -moz-box-shadow: 6px 6px 9px 1px rgb(172, 164, 172);
  box-shadow: 6px 6px 9px 1px rgb(163, 156, 163);
}